 .u-section-1 {
  background-image: none;
  min-height: 1006px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 0 auto 60px 0;
}

.u-section-1 .u-image-1 {
  min-height: 890px;
  background-image: url("images/pexels-iryna-kostsenich-1381679.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-shape-1 {
  width: 366px;
  height: 503px;
  background-image: linear-gradient(rgba(196,196,196,0.64), #f3f1f5);
  margin: 68px 20px 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 890px;
  background-image: linear-gradient(#f3f1f5, #f0d9ff);
  animation-duration: 1000ms;
}

.u-section-1 .u-image-2 {
  width: 491px;
  min-height: 604px;
  background-image: url("images/2020-12-31-111907494.jpg");
  background-position: 50% 50%;
  box-shadow: 0 0 32px 0 rgba(41,49,51,0.45);
  animation-duration: 1000ms;
  margin: 120px auto 0 -276px;
}

.u-section-1 .u-container-layout-3 {
  margin-bottom: 0;
}

.u-section-1 .u-group-2 {
  width: 714px;
  min-height: 201px;
  margin: -336px auto 0 -89px;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  background-image: none;
  animation-duration: 1000ms;
  font-weight: 400;
  font-family: Lobster, display;
  margin: 48px 0 0 83px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  text-transform: uppercase;
  font-weight: bold;
  margin: 15px 8px 0 75px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 850px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 870px;
  }

  .u-section-1 .u-shape-1 {
    width: 302px;
    margin-top: 62px;
    margin-bottom: 85px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 870px;
  }

  .u-section-1 .u-group-2 {
    width: 501px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 678px;
  }

  .u-section-1 .u-image-1 {
    min-height: 890px;
  }

  .u-section-1 .u-shape-1 {
    width: 280px;
    margin-top: 68px;
    margin-right: 0;
    margin-bottom: 90px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 890px;
  }

  .u-section-1 .u-group-2 {
    width: 384px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 4px;
    padding-right: 4px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1119px;
  }

  .u-section-1 .u-image-1 {
    min-height: 776px;
  }

  .u-section-1 .u-shape-1 {
    width: 367px;
    margin: 273px auto 0 48px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 404px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 3px;
    padding-right: 3px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 785px;
  }

  .u-section-1 .u-image-1 {
    min-height: 569px;
  }

  .u-section-1 .u-shape-1 {
    width: 274px;
    height: 390px;
    margin-top: 179px;
    margin-left: 46px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 334px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }
} .u-section-2 {
  background-image: none;
  min-height: 826px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: -53px;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  min-height: 879px;
  background-image: url("images/pexels-miriam-espacio-110854.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 143px;
  padding-bottom: 30px;
  padding-top: 0;
}

.u-section-2 .u-shape-1 {
  height: 818px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-group-1 {
  width: 420px;
  min-height: 452px;
  background-image: none;
  margin: -508px 22px 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding-bottom: 0;
  padding-top: 0;
}

.u-section-2 .u-line-1 {
  width: 68px;
  height: 3px;
  transform-origin: right center 0px;
  margin: 1px auto 0 -58px;
}

.u-section-2 .u-image-2 {
  width: 408px;
  height: 408px;
  animation-duration: 1000ms;
  margin: 63px -54px -23px auto;
}

.u-section-2 .u-image-3 {
  width: 161px;
  height: 161px;
  animation-duration: 1000ms;
  margin: -664px 152px 0 auto;
}

.u-section-2 .u-image-4 {
  min-height: 879px;
  background-image: url("images/pexels-miriam-espacio-110854.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding-bottom: 0;
  padding-top: 0;
}

.u-section-2 .u-shape-2 {
  width: 690px;
  height: 453px;
  background-image: none;
  animation-duration: 1000ms;
  margin: 134px auto 0 -63px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-style: normal;
  margin: -370px 147px 0 8px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 765px;
  }

  .u-section-2 .u-image-1 {
    min-height: 725px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-2 .u-group-1 {
    width: 280px;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    width: 280px;
    height: 280px;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    margin-right: 119px;
  }

  .u-section-2 .u-image-4 {
    min-height: 818px;
  }

  .u-section-2 .u-shape-2 {
    width: 517px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    margin-right: 45px;
    margin-left: 21px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 750px;
  }

  .u-section-2 .u-image-1 {
    min-height: 819px;
  }

  .u-section-2 .u-image-4 {
    min-height: 819px;
  }

  .u-section-2 .u-shape-2 {
    width: 396px;
    height: 522px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -495px;
    margin-right: 55px;
    margin-left: 19px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1800px;
  }

  .u-section-2 .u-image-1 {
    min-height: 1364px;
  }

  .u-section-2 .u-image-4 {
    min-height: 1117px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1220px;
  }

  .u-section-2 .u-image-1 {
    min-height: 817px;
  }

  .u-section-2 .u-image-4 {
    min-height: 703px;
  }

  .u-section-2 .u-shape-2 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -159px;
    margin-right: 0;
    margin-left: 21px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 869px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 739px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 27px 18px;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  text-transform: none;
  font-style: normal;
  animation-duration: 1000ms;
  font-family: Playball;
  font-weight: bold;
  margin: 181px 4px 0;
}

.u-section-3 .u-image-1 {
  width: 161px;
  height: 161px;
  margin: -120px auto 0 256px;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 9px 4px 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 739px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-group-1 {
  width: 428px;
  background-image: none;
  min-height: 738px;
  margin: 0 10px 0 auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-image-2 {
  width: 142px;
  height: 159px;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-3 .u-image-3 {
  width: 218px;
  height: 166px;
  margin: -34px auto 0 8px;
}

.u-section-3 .u-image-4 {
  width: 171px;
  height: 228px;
  transition-duration: 0.5s;
  animation-duration: 1000ms;
  margin: -283px 9px 0 auto;
}

.u-section-3 .u-image-5 {
  width: 217px;
  height: 280px;
  margin: 0 0 0 auto;
}

.u-section-3 .u-image-6 {
  width: 256px;
  height: 256px;
  margin: -35px auto 0 69px;
}

.u-section-3 .u-image-7 {
  width: 180px;
  height: 161px;
  animation-duration: 1000ms;
  margin: -728px auto 0 -75px;
}

.u-section-3 .u-image-8 {
  width: 153px;
  height: 222px;
  margin: 292px auto 0 -48px;
}

.u-section-3 .u-image-9 {
  width: 323px;
  height: 242px;
  margin: -484px auto 0 113px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 690px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 609px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    margin-left: 192px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 738px;
  }

  .u-section-3 .u-image-2 {
    height: 160px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -35px;
  }

  .u-section-3 .u-image-5 {
    height: 279px;
  }

  .u-section-3 .u-image-6 {
    margin-top: -34px;
  }

  .u-section-3 .u-image-7 {
    height: 160px;
  }

  .u-section-3 .u-image-8 {
    height: 223px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 493px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 97px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 565px;
  }

  .u-section-3 .u-group-1 {
    width: 408px;
    margin-right: 0;
  }

  .u-section-3 .u-image-8 {
    margin-top: 214px;
    margin-left: 0;
  }

  .u-section-3 .u-image-9 {
    margin-left: 85px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 801px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 570px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 40px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -129px;
    margin-right: 60px;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: 18px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 748px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 486px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 18px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 738px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 8px;
  }

  .u-section-3 .u-image-5 {
    margin-right: auto;
    margin-left: 8px;
  }

  .u-section-3 .u-image-9 {
    margin-left: 17px;
  }
}

.u-section-3 .u-image-4,
.u-container-layout .u-section-3 .u-image-4 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-3 .u-image-4:hover,
.u-section-3 .u-container-layout:hover .u-image-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}