 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 268px;
}

.u-section-1 .u-image-1 {
  width: 160px;
  height: 148px;
  margin: 90px auto 30px;
}.u-block-cab6-4 {
  position: absolute;
  top: auto;
  bottom: 10px;
}

.u-block-cab6-6 {
  position: absolute;
  left: 0;
  width: 65px;
  height: 65px;
  right: auto;
}

.u-block-cab6-5 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  right: 0;
}

 .u-section-2-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/ETIQUETA.png");
  background-position: 50% 50%;
}

.u-section-2-1 .u-sheet-1 {
  min-height: 100vh;
}

 .u-section-2-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/Habitacin.png");
  background-position: 50% 50%;
}

.u-section-2-2 .u-sheet-1 {
  min-height: 100vh;
}

@media (max-width: 575px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 350px;
  }
}

 .u-section-2-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/CALIGRAMASIMONMORAT.jpg");
  background-position: 50% 50%;
}

.u-section-2-3 .u-sheet-1 {
  min-height: 100vh;
}

@media (max-width: 575px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 350px;
  }
}

 .u-section-2-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/KANASU.png");
  background-position: 50% 50%;
}

.u-section-2-4 .u-sheet-1 {
  min-height: 100vh;
}

@media (max-width: 575px) {
  .u-section-2-4 .u-sheet-1 {
    min-height: 350px;
  }
}

 .u-section-2-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/Restauracin.png");
  background-position: 50% 50%;
}

.u-section-2-5 .u-sheet-1 {
  min-height: 100vh;
}

@media (max-width: 575px) {
  .u-section-2-5 .u-sheet-1 {
    min-height: 350px;
  }
}

 .u-section-2-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/contratiempo.png");
  background-position: 50% 50%;
}

.u-section-2-6 .u-sheet-1 {
  min-height: 100vh;
}

@media (max-width: 575px) {
  .u-section-2-6 .u-sheet-1 {
    min-height: 350px;
  }
}

 .u-section-2-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/vectorizacion.jpg");
  background-position: 50% 50%;
}

.u-section-2-7 .u-sheet-1 {
  min-height: 100vh;
}

@media (max-width: 575px) {
  .u-section-2-7 .u-sheet-1 {
    min-height: 350px;
  }
}

 .u-section-2-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/BALASPERDIDAS.png");
  background-position: 50% 50%;
}

.u-section-2-8 .u-sheet-1 {
  min-height: 100vh;
}

@media (max-width: 575px) {
  .u-section-2-8 .u-sheet-1 {
    min-height: 350px;
  }
}

 .u-section-2-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/Headfirst.png");
  background-position: 50% 50%;
}

.u-section-2-9 .u-sheet-1 {
  min-height: 100vh;
}

@media (max-width: 575px) {
  .u-section-2-9 .u-sheet-1 {
    min-height: 350px;
  }
}

 .u-section-2-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url("images/COLLAGE.png");
  background-position: 50% 50%;
}

.u-section-2-10 .u-sheet-1 {
  min-height: 100vh;
}

@media (max-width: 575px) {
  .u-section-2-10 .u-sheet-1 {
    min-height: 350px;
  }
}

 .u-section-2-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/Corazontejido.jpg");
  background-position: 50% 50%;
}

.u-section-2-11 .u-sheet-1 {
  min-height: 100vh;
}

@media (max-width: 575px) {
  .u-section-2-11 .u-sheet-1 {
    min-height: 350px;
  }
}

 .u-section-2-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/Cajaparasacoschalesetc...jpg");
  background-position: 50% 50%;
}

.u-section-2-12 .u-sheet-1 {
  min-height: 100vh;
}

@media (max-width: 575px) {
  .u-section-2-12 .u-sheet-1 {
    min-height: 350px;
  }
}

 .u-section-2-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/jj.jpg");
  background-position: 50% 50%;
}

.u-section-2-13 .u-sheet-1 {
  min-height: 100vh;
}

@media (max-width: 575px) {
  .u-section-2-13 .u-sheet-1 {
    min-height: 350px;
  }
}

 .u-section-2-14 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/Tarjeta.jpg");
  background-position: 50% 50%;
}

.u-section-2-14 .u-sheet-1 {
  min-height: 100vh;
}

@media (max-width: 575px) {
  .u-section-2-14 .u-sheet-1 {
    min-height: 350px;
  }
}

 .u-section-2-15 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/Membrete.png");
  background-position: 50% 50%;
}

.u-section-2-15 .u-sheet-1 {
  min-height: 100vh;
}

@media (max-width: 575px) {
  .u-section-2-15 .u-sheet-1 {
    min-height: 350px;
  }
}

 .u-section-2-16 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/Tarjeta.png");
  background-position: 50% 50%;
}

.u-section-2-16 .u-sheet-1 {
  min-height: 100vh;
}

@media (max-width: 575px) {
  .u-section-2-16 .u-sheet-1 {
    min-height: 350px;
  }
}

 .u-section-2-17 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/IMG_0009.jpg");
  background-position: 50% 50%;
}

.u-section-2-17 .u-sheet-1 {
  min-height: 100vh;
}

@media (max-width: 575px) {
  .u-section-2-17 .u-sheet-1 {
    min-height: 350px;
  }
}

 .u-section-2-18 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/IMG_0336.jpg");
  background-position: 50% 50%;
}

.u-section-2-18 .u-sheet-1 {
  min-height: 100vh;
}

@media (max-width: 575px) {
  .u-section-2-18 .u-sheet-1 {
    min-height: 350px;
  }
}

 .u-section-2-19 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/IMG_0348.jpg");
  background-position: 50% 50%;
}

.u-section-2-19 .u-sheet-1 {
  min-height: 100vh;
}

@media (max-width: 575px) {
  .u-section-2-19 .u-sheet-1 {
    min-height: 350px;
  }
}

 .u-section-2-20 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/IMG_0050.jpg");
  background-position: 50% 50%;
}

.u-section-2-20 .u-sheet-1 {
  min-height: 100vh;
}

@media (max-width: 575px) {
  .u-section-2-20 .u-sheet-1 {
    min-height: 350px;
  }
}

 .u-section-2-21 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/IMG_0199.jpg");
  background-position: 50% 50%;
}

.u-section-2-21 .u-sheet-1 {
  min-height: 100vh;
}

@media (max-width: 575px) {
  .u-section-2-21 .u-sheet-1 {
    min-height: 350px;
  }
}

 .u-section-2-22 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/IMG_0242.jpg");
  background-position: 50% 50%;
}

.u-section-2-22 .u-sheet-1 {
  min-height: 100vh;
}

@media (max-width: 575px) {
  .u-section-2-22 .u-sheet-1 {
    min-height: 350px;
  }
}

 .u-section-2-23 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/2U2A3145-2.jpg");
  background-position: 50% 50%;
}

.u-section-2-23 .u-sheet-1 {
  min-height: 100vh;
}

@media (max-width: 575px) {
  .u-section-2-23 .u-sheet-1 {
    min-height: 350px;
  }
}

 .u-section-2-24 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/2U2A3131-2.jpg");
  background-position: 50% 50%;
}

.u-section-2-24 .u-sheet-1 {
  min-height: 100vh;
}

@media (max-width: 575px) {
  .u-section-2-24 .u-sheet-1 {
    min-height: 350px;
  }
}

 .u-section-2-25 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/Sinttulo2.png");
  background-position: 50% 50%;
}

.u-section-2-25 .u-sheet-1 {
  min-height: 100vh;
}

@media (max-width: 575px) {
  .u-section-2-25 .u-sheet-1 {
    min-height: 350px;
  }
}

 .u-section-2-26 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/Publicidadminimalista-2.png");
  background-position: 50% 50%;
}

.u-section-2-26 .u-sheet-1 {
  min-height: 100vh;
}

@media (max-width: 575px) {
  .u-section-2-26 .u-sheet-1 {
    min-height: 350px;
  }
}

 .u-section-2-27 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/Publicidadminimalista-1.png");
  background-position: 50% 50%;
}

.u-section-2-27 .u-sheet-1 {
  min-height: 100vh;
}

@media (max-width: 575px) {
  .u-section-2-27 .u-sheet-1 {
    min-height: 350px;
  }
}

 .u-section-2-28 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/propiedadintelectual.png");
  background-position: 50% 50%;
}

.u-section-2-28 .u-sheet-1 {
  min-height: 100vh;
}

@media (max-width: 575px) {
  .u-section-2-28 .u-sheet-1 {
    min-height: 350px;
  }
}

 .u-section-2-29 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/CALIGRAMASIMONMORAT.jpg");
  background-position: 50% 50%;
}

.u-section-2-29 .u-sheet-1 {
  min-height: 100vh;
}

@media (max-width: 575px) {
  .u-section-2-29 .u-sheet-1 {
    min-height: 350px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 537px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 70px 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px;
}

.u-section-3 .u-video-1 {
  animation-duration: 1000ms;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  font-style: normal;
  text-align: start;
  margin: 27px 221px 0 auto;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  font-style: normal;
  margin: -43px auto 27px 153px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 467px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
    margin-right: 221px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 897px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 166px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -43px;
    margin-right: auto;
    margin-left: 153px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 105px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 96px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 535px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 70px 0 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px;
}

.u-section-4 .u-video-1 {
  animation-duration: 1000ms;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px;
}

.u-section-4 .u-video-2 {
  animation-duration: 1000ms;
}

.u-section-4 .embed-responsive-2 {
  position: absolute;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  font-style: normal;
  text-align: start;
  animation-duration: 1000ms;
  margin: 26px 200px 0 785px;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  font-style: normal;
  text-align: start;
  animation-duration: 1000ms;
  margin: -43px auto 26px 145px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 100px;
    margin-left: 685px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 388px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 565px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 895px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 385px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 385px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 613px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 185px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -43px;
    margin-right: auto;
    margin-left: 91px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 539px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: 70px 0 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px;
}

.u-section-5 .u-video-1 {
  animation-duration: 1000ms;
}

.u-section-5 .embed-responsive-1 {
  position: absolute;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px;
}

.u-section-5 .u-text-1 {
  font-weight: 400;
  font-style: normal;
  text-align: start;
  animation-duration: 1000ms;
  margin: 28px 805px 28px 220px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 469px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 705px;
    margin-left: 120px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 595px;
    margin-left: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 899px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 425px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 225px;
  }
}